.hidden {
  display: none;
}


.titleHero{
  display: flex;
  justify-content: space-between;
}

#artistry{
  border: coral 2px ridge;
}

#titleArtistry{
  position: relative ;
  top: -10px;
  color: coral;
  font-size: 35px;
  font-weight: bolder;
}
#subHead{
  position: relative;
  top: -15px;
}
.hero-body{
  padding-bottom: 0px;
  padding-top: 30px;
}
.list-item {
  margin-bottom: 10px;
  padding: 1.5%;
  border-radius: 0.3rem;
  background-color: coral;
  color: coral;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
#search-results {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
}
.artistName {
color: black;
font-size: larger;
}